# vim: set filetype=yaml:

all:
  vars:
%{~if ansible_port != 22}
    ansible_port: ${ansible_port}
%{~endif}
    ansible_ssh_user: ${ansible_ssh_user}
    secrets_folder: /var/secrets
    certbot_key_type: ecdsa
    # certbot_email: <defined from the outside>
    certbot_cloudflare_credentials_file: certbot_cloudflare_credentials.ini
    certbot_cloudflare_api_token: ${certbot_cloudflare_api_token}
  children:
    webservers:
      hosts:
%{~for host in webservers}
        ${host}:
%{~endfor}
